.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 30px;
  border-radius: 12px;
  border: 2px solid black;
  box-shadow: 0px 0px 8px 2px black;
  background-color: rgba(128, 0, 128, 0.516);
}
